# Gradle files
gradle/
.gradle/
build/
out/
gradle/kotlin/
src/generated/resources/.cache
.github/
.eclipse/
*.md

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.factorypath

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Run folders (NeoForge/Minecraft)
run/
runs/
run-server/
run-client/
run-data/
logs/
crash-reports/
debug/
config/
gradle/
docs/
scripts/
!scripts/
!scripts/check_client_boundaries.py

# Logs
*.log
